/* Inject Tailwind CSS base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set up the overall look for the body/root element */
body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0d0c1e;
}

/* Ensure React root and HTML/Body take up full height */
#root, html, body {
  height: 100%;
}
